@import "tailwindcss";

@theme {
  --color-primary: oklch(51.1% 0.262 276.966);
  --color-secondary: oklch(55.4% 0.046 257.417);
  --color-dark: oklch(20.8% 0.042 265.755);
}


@layer components {
  .place {
    @apply w-[90%] max-w-7xl m-auto
  }
  .nav {
    @apply bg-white/70 backdrop-blur-md fixed right-0 left-0 top-0 z-20 flex rounded-b-2xl py-5
  }
}

@theme {
  --font-robotoSlab:  'Roboto Slab', 'serif';
}